<div class="container">
    <div class="sidenav-container">
        <div class="menu-inicio">
            <a routerLink="dashboard" class="icono-pricipal">
                <i class="fa-brands fa-spotify" style="color: #e0e0e6;"></i>Spotify
            </a>
            <a routerLink="dashboard">
                <i class="fa-solid fa-house" style="color: #e0e0e6;"></i>Inicio
            </a>
            <a href="">
                <i class="fa-solid fa-magnifying-glass" style="color: #e0e0e6;"></i>Buscar
            </a>
        </div>

        <div class="menu-contenido">
            <div class="bliblioteca">
                <a href="">
                    <i class="fa-solid fa-bookmark" style="color: #e0e0e6;"></i>Bliblioteca
                </a>
                <div class="bliblioteca-texto">
                    <p>Crea tu lista</p>
                    <p>Es muy facil y te echaremos una mano</p>
                </div>

            </div>
            <div class="container-links">
                <a href="https://www.spotify.com/ar/legal/end-user-agreement/">legal</a>
                <a href="https://www.spotify.com/ar/safetyandprivacy">Seguridad y privacidad</a>
                <a href="https://www.spotify.com/ar/legal/privacy-policy/">Politica de privacidad</a>
                <a href="https://www.spotify.com/ar/legal/cookies-policy/">Cookies</a>
                <a href="https://www.spotify.com/ar/legal/privacy-policy/#s3">Anuncios</a>
                <a href="https://www.spotify.com/ar/accessibility">Accesibilidad</a>
            </div>
            <div class="div-button">
                <i class="fa-solid fa-globe"></i>
                <p>Español de España</p>
            </div>
        </div>
    </div>


    <div class="navbar">
        <div class="button-contain">
            <button>Registrarse</button>
            <button>iniciar Secion</button>
        </div>
    </div>

    <div class="main">
        <router-outlet></router-outlet>
    </div>





</div>